* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
   background-image: url('../css/lol7.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0%;
    color: white;
}

.login-container {
    background-color: rgb(175, 111, 127);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 400px;
    text-align: center;
}

h1 {
    margin-bottom: 10px;
    font-size: 24px;
}

p {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.dd{
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;
    transition: background-color 0.3s;
}



.checkbox-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #146bc9;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}